# manually created by goetz on 2024-10-29
_tag="${BASH_SOURCE/\.\//}"
echo "${_tag}: setting up python environment for my app"
echo "${_tag}: sourcing ./venv/bin/activate"
source ./venv/bin/activate
echo "${_tag}: now start the app with  >>>  bin/start"
